[submodule "nixos-hardware"]
	path = nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
[submodule "nixos-modules"]
	path = nixos-modules
	url = git@git.tu-berlin.de:hamza.tmm/nixos-modules.git
[submodule "nixos-tuberlin"]
	path = nixos-tuberlin
	url = git@git.tu-berlin.de:hamza.tmm/nixos-tuberlin.git
[submodule "nixos-cosmic"]
	path = nixos-cosmic
	url = https://github.com/lilyinstarlight/nixos-cosmic.git
[submodule "nix-matlab"]
	path = nix-matlab
	url = https://gitlab.com/doronbehar/nix-matlab
